.team-section{
    margin-top: 8rem;
}
.team-haeding{
    font-size: 3rem;
    text-transform: uppercase;
     color: #d35400;
}

.team-top{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
   
}
.team{
    width: 100%;
}
.lorem-content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: justify;
    margin: 0rem 4rem 0rem;
}
