.section{
    margin-top: 8rem;
    
}

.team-haeding{
    font-size: 3rem;
    text-transform: uppercase;
    color: #d35400;
}

.team-top{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
   
}
.team{
    width: 100%;
 
}
.team-section{
    margin-top: 8rem;
}
.lorem-content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: justify;
    margin: 4rem 10rem 5.6rem;  
}
   .bg-content-color{ 
    background-color: #f7f1e3;
    margin: 0rem;
    margin-top: 1.1rem;
    height: 31.6rem;
    width: 50%;
}

   @media only screen and (min-width:2000px){
       .lorem-content{
            margin: 4rem 5rem 2rem; 
       }
        .bg-content-color{ 
            height: 26.5rem;
        }

    }

