.team-section{
    margin-top: 8rem;
    
}
.team-haeding{
    font-size: 3rem;
    text-transform: uppercase;
     color: #d35400;
}

.team-top{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
   
}
.team{
    width: 100%;
}
.lorem-content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: justify;
    margin-right: 10rem;
    margin-top: 5rem;
    margin-left: 5rem;
    
}
.bg-content-color{
    background-color: #f7f1e3;
    margin-left: 0rem;
    
   
    
}

.btn-btn-readmore:link,
.btn-btn-readmore:visited{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    padding: 1rem 4rem;
    font-size: 2rem;
    background-color: #d35400;
    color: #fff;
  
}
.btn-readmore{
    margin-top: 2rem;
    margin-right: 50%;
}

/* Media queries*/
@media only screen and (min-width:2000px){
    .lorem-content{
        font-size: 1.3rem;
        line-height: 2rem;
}
    .bg-content-color{
        height: 26.5rem;
    
}
    .btn-btn-readmore:link,
    .btn-btn-readmore:visited{
        text-decoration: none;
        padding: 1rem 4rem;
        font-size: 2rem;
        background-color: #d35400;
        color: #fff;
        margin-bottom: 3rem; 
}
}
@media only screen and (max-width:1440px){
    .bg-content-color{
        padding-bottom: 10rem;
        height: 31.5rem;  
}
    .btn-btn-readmore:link,
    .btn-btn-readmore:visited{
       margin-right: 8rem;
       
}
}

/* @media only screen and (max-width:1200px){
       .bg-content-color{
        padding-bottom: 8rem;
       
}

} */
@media only screen and (max-width:768px){
   

}
@media only screen and (max-width:375px){
   

}

@media only screen and (max-width:425px){
    
}

@media only screen and (max-width:320px){
    

}