.activities-section{
    margin-top: 8rem;
    margin-bottom: 6rem;
}

.activity{
    font-size: 3rem;
    text-transform: uppercase;
    color: #d35400;
}

.t-activities{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic; 
}
.inner{
    max-width:120rem;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
   
}
.activity-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     
}
.column-activity{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 1.5rem;
    
}
.activities{
    background: #fff;
    padding: 3rem;
}
.activities img{
    width: 30rem;
    height: 20%;
}
.location{
    display: flex;
}
.map{
     color: #e67e22;
     font-size: 2rem;
     padding-left: 1.5rem;
}
.l-name{
    font-size: 1.5rem;
    padding-left: 2rem;
}
.para1{
    text-align: left;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding-left: 1.5rem;
}
.para2{
    text-align: left;
    line-height: 2rem;
    font-size: 1.3rem;
     padding-left: 1.5rem;
}
.price{
    display: flex;
    
   
}
.cost{
    font-size: 1.5rem;
    padding-left: 6rem;
    font-weight: bold;
}
button{
    background: #e67e22;
    padding: 1rem;
    border: none;
    color: #fff;
    margin-top: -1rem;
    margin-left: 12rem;
    cursor: pointer;

}


@media screen and (max-width:960px){
   .column-activity{
       flex: 100%;
       max-width: 80%;
   }


}

@media screen and (max-width:600px){
    .column-activity{
        float: 100%;
        max-width: 100%;
    }
    
}

@media screen and (max-width:768px){
    .activity-row{
       
    }
}