.activities-section{
    margin-top: 8rem;
}

.activity{
    font-size: 3rem;
    text-transform: uppercase;
    color: #d35400;
}

.t-activities{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic; 
}
.card{
    width: 70%;
    background-color: #fff;
    margin: 6rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(134, 133, 133);
    
}
.image img{
    width: 100%;
}
.price{
    float: left;
    position: absolute;
    margin-top: 2rem;
    font-size: 2rem;
    margin-left: 1rem;
    
  

}

button{
    margin-top: 1rem;
    background-color: #d35400;
    border: none;
    padding: 1rem;
    color: #fff;
    margin-left: 20.5rem;
    margin-bottom: 1rem;

}
button:hover{
    background-color: #27ae60;
    transition: background-color 1s;
    cursor: pointer;
}
.des{
    margin-bottom: 0.1rem solid black;
}
.map{
    color: #d35400;
    margin-right: 2rem;
    font-size: 2rem;
}
.location{
    margin-right: 5rem;
}
