.activities-section{
    margin-top: 8rem;
}

.activity{
    font-size: 3rem;
    text-transform: uppercase;
    color: #d35400;
}

.t-activities{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic; 
}
.card{
    width: 70%;
    background-color: #fff;
    margin: 6rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(134, 133, 133);
    
}
.image img{
    width: 100%;
}
.price{
    float: left;
    position: absolute;
    margin-top: 1.6rem;
    font-size: 2rem;
    margin-left: 1rem;
    
  

}

button{
    margin-top: 1rem;
    background-color: #d35400;
    border: none;
    padding: 1rem;
    color: #fff;
    margin-left: 14rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;

}
button:hover{
    background-color: #27ae60;
    transition: background-color 1s;
    cursor: pointer;
}
.des{
    margin-bottom: 0.1rem solid black;
}
.map{
    color: #d35400;
    margin-right: 2rem;
    font-size: 2rem;
}
.location{
    margin-right: 8rem;
    padding-bottom: 1rem;;
}
.para1{
    font-size: 1.4rem;
    text-align: justify;
    margin-left: 2rem; 
    padding-bottom: 1rem;
}

.para2{
    font-size: 1.2rem;
    text-align: justify;
    margin-left: 2rem; 
    line-height: 2rem;
}

/* Media queries */
@media only screen and (max-width:2000px) and (min-width:1440px){
    .location{
      margin-right: 8rem;
    }
    button{
       margin-left: 22rem;
        font-size: 1.4rem;
    }
}



@media only screen and (max-width:768px){
    .location{margin-right: 4rem;}
    .para2{text-align: left;}
    button{
            margin-left: 11rem;
    }
    
}

    @media only screen and (max-width:425px){
        .location{
            margin-right: 16rem;
            font-size: 1.5rem;
        }
        .para1{font-size: 1.8rem;}
        .para2{
            font-size: 1.8rem;
            line-height: 2.5rem;
        }
        button{margin-left: 27rem;}

        
    }
 
    @media only screen and (max-width:375px){
        .location{margin-right: 12rem;}
       button{margin-left: 18rem;}
    }
/* 
     @media only screen and (min-width:320px){
         .location{margin-right: 8rem;}
            button{
                    margin-left: 15rem;
            }
     } */