.destionation-section{
    margin-top: 8rem;
}

.destination{
    font-size: 3rem;
    text-transform: uppercase;
    color: #d35400;
}

.top-destination{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
   
}

.second{
    width: 100%;
   
}
.bg-images{
    width: 80%;
    margin: 5rem  10rem 0rem;
} 

/* Media queries*/

@media only screen and (max-width:375px){
    .bg-images{
        margin-left: 5rem;
    
} 

}

@media only screen and (max-width:425px){
    .bg-images{
        margin-left: 4.8rem;
    
} 
}

@media only screen and (max-width:320px){
    .bg-images{
        margin-left: 4rem;
    
} 

}