.destionation-section{
    margin-top: 8rem;
}

.destination{
    font-size: 3rem;
    text-transform: uppercase;
    color: #d35400;
}

.top-destination{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
   
}

.second{
    width: 100%;
   
}
.bg-images{
    width: 80%;
    margin: 5rem  10rem 0rem;
} 

